
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color:#fbf4ec ;
}

a:link{
    text-decoration: none;
}

.flex{
    display: flex;
    position: relative;
    font-family: 'Exo 2', sans-serif;
}

.flex .sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    padding: 30px 0;
    background-color: #d2e0e9;
}


.flex .sidebar ul li{
    padding: 15px;
    
}

.flex .sidebar ul li a{
    color: black; 
}


.flex .sidebar ul li:hover{
    background-color: #9ccfd8;
}



main{
    margin-left: 400px;
}



#box1{
    margin: 70px;
    padding: 70px;
    height: 30px;
    width: 200px;
    background-color: #6e6a86;
}


#box2{
    margin: 70px;
    padding: 70px;
    height: 30px;
    width: 200px;
    background-color: #6e6a86;
}




#box3{
    margin: 70px;
    padding: 70px;
    height: 30px;
    width: 200px;
    background-color: #6e6a86;
}

.wrapper{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    margin-right: 300px;
    font-family: 'Exo 2', sans-serif;
}



img {
    width: 10%;
    height: 20%;
    background-color: #fbf4ec;

}

.package{
    font-family: 'Exo 2', sans-serif;
}

.contact_name{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: solid;
    border-color: #555169;
    border-width: 2px;
}


.contact_phone{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: solid;
    border-color: #555169;
    border-width: 2px;
}

.contact_address{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: solid;
    border-color: #555169;
    border-width: 2px;
}


.contact_email{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: solid;
    border-color: #555169;
    border-width: 2px;
}


.save{
    float: left;
    background-color:#286983 ;
    margin-top: 10px;
}

.cancel{
    background-color:#eb6f92 ;
    width: 50px;
    margin-top: 10px;
}

.nameAndIcon h2{
    float: left;
}

.nameAndIcon {
    background-color: white;
    width: 250px;
    margin-top: 15px;
    border: solid;
    border-color: #555169;
    border-width: 2px;
    font-family: 'Exo 2', sans-serif;
}



.nameAndIcon div{
    background-color: white;
}

.writing{
    background-color: white;
    width: 250px;
    margin-top: 30px;
    border: solid;
    border-color: #555169;
    border-width: 2px;
    font-family: 'Yuji Syuku', serif;

}





@media screen and (max-width: 600px){
.flex .sidebar {
    width: 125px;
    height: 100%;
    padding: 30px 0;
    background-color: #d2e0e9;
}

.wrapper{
    display: grid;
    grid-template-rows: 100px;
    margin-right: 100px;
}


.flex{
    display: flex;
}


.nameAndIcon{
    font-family: 'Yuji Syuku', serif;
}


main{
    margin-left: 140px;
}

#box1{
    margin: 20px;
    padding: 20px;
    height: 10px;
    width: 70px;
    background-color: #6e6a86;
}


#box2{
    margin: 20px;
    padding: 20px;
    height: 10px;
    width: 70px;
    background-color: #6e6a86;
}




#box3{
    margin: 20px;
    padding: 20px;
    height: 10px;
    width: 70px;
    background-color: #6e6a86;
}

}